body {
    height: 5000px;
    background: linear-gradient(#f5941d, #eb1c23);
    color: white;
}
#spine {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
}
#track {
    position: absolute;
    top: 200px;
    left: -30px;
    right: -30px;
    height: 4000px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    box-shadow: inset 0 10px 10px -10px #000000;
}
#train {
    position: absolute;
    top: -150px;
    left: 15px;
    right: 15px;
    height: 150px;
    background-color: white;
}
#title {
    position: absolute;
    top: 20px;
    left: -200px;
    right: -200px;
    text-align: center;
    font-size: 48px;
}