body {
    height: 3388px;
    background: linear-gradient(#f5941d, #eb1c23);
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1;
}
#spine {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
}
#track {
    position: absolute;
    top: 875px;
    left: -60px;
    right: -60px;
    height: 2000px;
    border-radius: 60px 60px 0 0;
    overflow: hidden;
    box-shadow: inset 0 4px 0px 0px #000000;
}
#train {
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    height: 400px;
    background-color: white;
}
#title {
    position: absolute;
    top: 201px;
    left: -240px;
    right: -240px;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
}
#amsterdam {
    position: absolute;
    top: 699px;
    left: -240px;
    right: -240px;
    width: 479.3px;
    height: 49.6px;
}
#berlin {
    position: absolute;
    top: 2374px;
    left: -240px;
    right: -240px;
    width: 480px;
    height: 141.2px;
}
.wave {
    position: absolute;
    width: 45px;
    height: 14.5px;
}
#wave1 {
    top: 925px;
    left: -200px;
}
#wave2 {
    top: 925px;
    left: 200px;
}
#wave3 {
    top: 925px;
    right: 200px;
}
#wave4 {
    top: 1125px;
    left: 200px;
}
#wave5 {
    top: 1125px;
    right: 200px;
}
#wave6 {
    top: 925px;
    right: 200px;
}
#wave7 {
    top: 925px;
    right: 200px;
}
#wave8 {
    top: 925px;
    right: 200px;
}
#wave9 {
    top: 925px;
    right: 200px;
}
#wave10 {
    top: 925px;
    right: 200px;
}
#wave11 {
    top: 925px;
    right: 200px;
}
#arrow-down {
    position: absolute;
    top: 578px;
    left: -4.45px;
    right: -4.45px;
    width: 8.9px;
    height: 56px;
}
.ticket {
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    left: -240px;
    right: -240px;
}
#ticket1 {
    top: 444px;
}
#ticket2 {
    top: 1500px;
}
.button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    border: 2px solid white;
    border-radius: 2px;
    padding: 17px;
}
.text {
    display: block;
    position: absolute;
    width: 140px;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
}
#text1 {
    left: 5px;
    top: 444px;
}
#text2 {
    right: 5px;
    top: 444px;
}
#text3 {
    left: 5px;
    top: 1444px;
}
#text4 {
    right: 5px;
    top: 1444px;
}
#text5 {
    left: 5px;
    top: 1644px;
}